{% for att in history %}

{% if att.status == "Pending" %}
<div class="run-attempt pending">
    <a href="/mercure/show/run/{{ run.run_id }}?attempt_number={{ att.attempt_number }}">
        <strong>Tentative {{ att.attempt_number }}:</strong>
        <span>
            En attente
        </span>
    </a>
</div>
{%endif%}

{% if att.status == "Running" %}
<div class="run-attempt running">
    <a href="/mercure/show/run/{{ run.run_id }}?attempt_number={{ att.attempt_number }}">
        <strong>Tentative {{ att.attempt_number }}:</strong>
        <span>
            Analyses en cours
        </span>
    </a>
</div>
{%endif%}

{% if att.status == "Success" %}
<div class="run-attempt success">
    <a href="/mercure/show/run/{{ run.run_id }}?attempt_number={{ att.attempt_number }}">
        <strong>Tentative {{ att.attempt_number }}:</strong>
        <span>
            Succès
        </span>
    </a>
</div>
{%endif%}

{% if not att.status.Failure is undefined %}
<div class="run-attempt failure">
    <a href="/mercure/show/run/{{ run.run_id }}?attempt_number={{ att.attempt_number }}">
        <strong>Tentative {{ att.attempt_number }}:</strong>
        <span>
            Echec
        </span>
    </a>
</div>
{%endif%}

{% endfor %}