{% extends "base.html.j2" %}

{% block title %}{{ title }}{% endblock %}

{% block banner %}{% endblock %}

{% block messages %}{% endblock %}

{% block content %}
    <div>
        <h2>{{ h2 }}</h2>
        <p>{{ message | safe }}</p>
        <a href="/mercure/home" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
