{% extends "common/run_base.html.j2" %}

{% block title %}Echec de l'analyse{% endblock %}

{% block banner_text %}Echec de l'analyse{% endblock %}

{% block content %}

    {% if attempt.attempt_number == run.attempt_count %}
    <h2>Dernière tentative échouée</h2>
    {% else %}
    <h2>Tentative {{ attempt.attempt_number }} échouée</h2>
    {% endif %}
    <p>
    <p>L'analyse du run <strong>{{ run.run_name }}</strong> a échoué.</p>
    <h3>Raison</h3>
    <p>{{ fail_reason }}</p>

    <div style="margin-top: 30px; text-align: left;">
        <a id="back-to-runs" class="btn btn-secondary" href="/mercure/show/runs">Retour</a>
        {% if run.status == "Idle" %}
        <a id="analysis-retry" class="btn btn-primary" href="/mercure/show/run/{{ run.run_id }}">Voir la tentative
            actuelle</a>
        {% else %}
        <a id="analysis-retry" class="btn btn-primary" onclick="retryAnalysis({{ run.run_id }})">Relancer
            l'analyse</a>
        {% endif %}
    </div>

    {% include "common/runinfo.html.j2" %}
{% endblock %}

{% block run_extra_js %}
        async function retryAnalysis(run_id) {
            try {
                const resp = await fetch(`/mercure/api/retry/${run_id}`);
                if (resp.ok) {
                    const json = await resp.json();
                    if (json.data) {
                        location.href = `/mercure/show/run/${run_id}`;
                    } else {
                        alert('Relance de l\'analyse refusée');
                    }
                } else {
                    console.error('Erreur lors de la requête de retry', resp.status);
                }
            } catch (e) {
                console.error('Exception lors de la requête de retry', e.message);
            }
        }
{% endblock %}
