<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/default.css">
    <link rel="stylesheet" type="text/css" href="/static/icon-font/material-icons.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <script src="/static/scripts/json_table.js"></script>
    <title>Connexion - Mercure</title>
</head>

<body>
    <div class="container">
        <h1 class="title">Connexion</h1>
        <form id="loginForm">
            <div>
                <label for="usermail">Adresse e-mail:</label>
                <input type="text" id="usermail" name="usermail" placeholder="Adresse e-mail" required>
            </div>
            <div>
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe" required>
            </div>
            <div class="error-msg" id="error-message" style="display: none;"></div>
        </form>
        <a id="loginButton" class="btn btn-primary" onclick="onConnect()">Se connecter</a>
        <a href="/mercure" class="btn btn-secondary">Retour</a>
    </div>

    <script>
        async function onConnect() {
            const errorDiv = document.getElementById('error-message');
            const usermail = document.getElementById('usermail').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('/mercure/api/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ usermail, password })
                });

                if (response.ok) {
                    window.location.href = response.url;
                } else {
                    const data = await response.json();
                    showMessage("error", data.message);
                    setTimeout(() => {
                        errorDiv.style.display = 'none';
                    }, 2000);
                }
            } catch (error) {
                showMessage("error", error);
                setTimeout(() => {
                    errorDiv.style.display = 'none';
                }, 2000);
            }
        }
        window.onload = function () {
            document.getElementById('loginForm').reset();
        };
    </script>
</body>

</html>