<div id="run-details" style="display: flex;height: 400px;">
    <div id="basic-info" style="flex: 1;">
        <h2>Détails du run</h2>
    </div>

    <div id="attempts" style="display: flex; flex-direction: column; flex: 1; margin-left: 20px;">
        <h2>Tentatives</h2>
        <div class="attempt-list">
            {% if run.status == "Idle" %}
            <div class="run-attempt idle">
                <a href="/mercure/show/run/{{ run.run_id }}"><strong>Tentative actuelle</strong></a>
            </div>
            {% endif %}
            {% include "common/attemptlist.html.j2" %}
        </div>
    </div>
</div>