{% extends "common/run_base.html.j2" %}

{% block title %}Run terminé avec succès{% endblock %}

{% block banner_text %}Succès{% endblock %}

{% block content %}

<h2>L'analyse s'est terminée avec succès</h2>
<p>La tentative {{ attempt.attempt_number }} s'est terminée avec succès.
</p>

<div style="margin-top: 30px; text-align: left;">
    <a id="back-to-runs" class="btn btn-secondary" href="/mercure/show/runs">Retour</a>
    {% if run.status in ("Idle","Pending","Running") %}
    <a id="analysis-retry" class="btn btn-primary" href="/mercure/show/run/{{ run.run_id }}">Voir la tentative
        actuelle</a>
    {% else %}
    <a id="analysis-retry" class="btn btn-primary" onclick="retryAnalysis({{ run.run_id }})">Relancer
        l'analyse</a>
    {% endif %}
</div>

{% include "common/runinfo.html.j2" %}

{% endblock content %}