<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur Mercure</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/default.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
</head>

<body>
    <div class="banner">
        <div class="banner-content">
        <span class="banner-text">Bienvenue sur Mercure</span>
        </div>
    </div>
    <div class="container">
        <h1 class="title">Mercure</h1>
        <p class="paragraph">Le portail de lancement des analyses de la plateforme GenoBiomics</p>
        <div>
            <a href="/mercure/login" class="btn btn-primary">Se connecter</a>
        </div>
    </div>
</body>

</html>