{% extends "base.html.j2" %}

{% block title %}Bienvenue sur Mercure{% endblock %}

{% block banner_text %}Bienvenue sur Mercure{% endblock %}

{% block banner_actions %}{% endblock %}

{% block messages %}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title">Mercure</h1>
        <p class="paragraph">Le portail de lancement des analyses de la plateforme GenoBiomics</p>
        <div>
            <a href="/mercure/login" class="btn btn-primary">Se connecter</a>
        </div>
    </div>
{% endblock %}
