<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Admin Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles/default.css">
    <link rel="stylesheet" type="text/css" href="/static/icon-font/material-icons.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
</head>

<body>
    <div class="banner">
        <div class="banner-content">
            <span class="banner-text">Bienvenue, {{ user.username }}</span>
            <div class="logout-button">
                <a href="/mercure/logout" class="btn btn-danger"><span
                        class="material-icons icon-align">logout</span>Déconnexion</a>
            </div>
        </div>
    </div>
    <script>
        function onDropDown(element) {
            document.getElementById(element).classList.toggle("show");
        }
        function navigateTo(uri) {
            window.location.href = uri;
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <div class="dropdown">
        <button onclick="onDropDown(`users_dropdown`)" class="dropbtn"><span
                class="material-icons icon-align">account_circle</span> Gestion des utilisateurs</button>
        <div id="users_dropdown" class="dropdown-content">
            <a href="/mercure/admin/register">Créer un utilisateur</a>
            <a href="/mercure/admin/editusers/">Editer les utilisateurs</a>
        </div>
    </div>
    <div class="dropdown">
        <button onclick="onDropDown(`forms_dropdown`)" class="dropbtn"><span
                class="material-icons icon-align">format_list_bulleted</span>Gestion des formulaires</button>
        <div id="forms_dropdown" class="dropdown-content">
            <a href="/mercure/admin/newform">Créer un nouveau formulaire</a>
            <a href="/mercure/admin/show/forms">Liste des formulaires</a>
        </div>
    </div>
    <div class="dropdown" style="float:right;">
        <button onclick="navigateTo(`/mercure/home`)" class="dropbtn"><span
                class="material-icons icon-align">home</span></button>
    </div>
    </div>
</body>

</html>