<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Edition des groupes de {{ user.username }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles/default.css">
    <link rel="stylesheet" type="text/css" href="/static/icon-font/material-icons.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
</head>

<body>
    <div class="banner">
        <div class="banner-content">
            <span class="banner-text">Edition des groupes de {{ user.username }}</span>
            <div class="logout-button">
                <a href="/mercure/logout" class="btn btn-danger"><span
                        class="material-icons icon-align">logout</span>Déconnexion</a>
            </div>
        </div>
    </div>

    <div id="info-message" class="info-msg" style="display:none;"></div>
    <div id="error-message" class="error-msg" style="display:none;"></div>
    <div id="success-message" class="success-msg" style="display:none;"></div>

    <div id="groups-container">
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <button class="btn btn-primary" onclick="submitForm()">Mettre à jour les groupes</button>
    </div>
    <!-- Centered submit button at the bottom of the page -->
    <div style="text-align: center; margin-top: 20px;">
        <a class="btn btn-secondary" href="/mercure/admin/editusers/">Retour à la liste des utilisateurs</a>
        <a class="btn btn-secondary" href="/mercure/admin/dashboard">Retour au tableau de bord</a>
    </div>
    </form>

    <script>

        var initialState = {};
        var userId = "{{ user.id }}";

        async function init() {
            const userId = "{{ user.id }}";
            initialState = {};
            const groupsContainer = document.getElementById("groups-container");
            groupsContainer.innerHTML = ""; // Clear existing groups

            try {
                const response = await fetch("/mercure/api/groups/list");
                if (!response.ok) {
                    throw new Error("Erreur lors du chargement des groupes.");
                }
                const data = await response.json();
                if (data.success && Array.isArray(data.data) && data.data.length > 0) {
                    data.data.forEach((group) => {
                        const groupDiv = document.createElement("div");
                        groupDiv.className = "group-checkbox";
                        groupDiv.innerHTML = `
            <input type="checkbox" id="group-${group.id}" name="selected_groups" value="${group.id}">
            <label id="label-group-${group.id}" for="group_${group.id}">${group.name}</label>
          `;
                        groupsContainer.appendChild(groupDiv);
                    });
                }
                if (data.success && Array.isArray(data.data) && data.data.length == 0) {
                    groupsContainer.innerHTML = "<p>Aucun groupe n'est défini.</p>";
                }

                const userGroupsRes = await fetch(`/mercure/api/groups/list/${userId}`);
                const userGroupsData = await userGroupsRes.json();
                userGroupsData.data.forEach(userGroup => {
                    const checkbox = document.getElementById(`group-${userGroup.id}`);
                    if (checkbox) checkbox.checked = true;
                });

                const checkboxes = document.querySelectorAll("input[name='selected_groups']");
                checkboxes.forEach(checkbox => {
                    initialState[checkbox.id] = checkbox.checked;
                });
            } catch (error) {
                console.error(error);
                alert(error.message);
            }
        }

        async function submitForm() {
            const checkboxes = document.querySelectorAll("input[name='selected_groups']");
            const to_add = [];
            const to_remove = [];

            checkboxes.forEach(checkbox => {
                if (checkbox.checked && !initialState[checkbox.id]) {
                    group_name = document.getElementById(`label-group-${checkbox.value}`).textContent;
                    to_add.push({ id: parseInt(checkbox.value), name: group_name });
                } else if (!checkbox.checked && initialState[checkbox.id]) {
                    group_name = document.getElementById(`label-group-${checkbox.value}`).textContent;
                    to_remove.push({ id: parseInt(checkbox.value), name: group_name });
                }
            });

            const payload = JSON.stringify({ user_id: parseInt(userId), to_add, to_remove });

            try {
                const response = await fetch("/mercure/api/groups/update", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: payload
                });
                const data = await response.json();
                await init(); // Re-initialize to reflect changes
                if (!data.success) {
                    alert("Erreur lors de la mise à jour des groupes : " + data.message);
                    const infoDiv = document.getElementById("info-message");
                    const errorDiv = document.getElementById("error-message");
                    infoDiv.style.display = 'none';
                    errorDiv.style.display = 'block';
                    errorDiv.innerHTML = `<span class="material-icons icon-align"
            style="color:red;">error</span>${data.message}`;
                    setTimeout(() => {
                        errorDiv.style.display = 'none';
                    }, 2000);
                }
                else {
                    const errorDiv = document.getElementById("error-message");
                    const infoDiv = document.getElementById("info-message");
                    errorDiv.style.display = 'none';
                    infoDiv.style.display = 'block';
                    infoDiv.innerHTML = `<span class="material-icons icon-align"
            style="color:blue;">info</span>${data.data}`;
                    setTimeout(() => {
                        infoDiv.style.display = 'none';
                    }, 2000);
                }
            } catch (e) {
                const infoDiv = document.getElementById("info-message");
                const errorDiv = document.getElementById("error-message");
                infoDiv.style.display = 'none';
                errorDiv.style.display = 'block';
                errorDiv.innerHTML = `<span class="material-icons icon-align"
            style="color:red;">error</span>${e}`;
                setTimeout(() => {
                    errorDiv.style.display = 'none';
                }, 2000);
            }
        }

        window.addEventListener("DOMContentLoaded", async () => {
            await init();
        });


    </script>


</body>

</html>