{% extends "base.html.j2" %}

{% block title %}Création d'un nouveau groupe{% endblock %}

{% block banner_text %}Création d'un nouveau groupe{% endblock %}

{% block body_attrs %}{% endblock %}

{% block content %}
<form id="new-group" onsubmit="submitForm(event)">
    <div>
        <label>Nom du nouveau groupe</label>
        <input name="new_group_name" type="text">
    </div>
    <div style="text-align: left; margin-top: 20px;">
        <a class="btn btn-secondary" href="/mercure/admin/dashboard">Retour au tableau de bord</a>
        <a class="btn btn-primary" onclick="submitForm(event)">Créer un nouveau groupe</a>
        <button type="submit" style="display: none;" tabindex="-1" aria-hidden="true"></button>
    </div>
</form>
{% endblock %}

{% block extra_js %}
<script>

    async function submitForm(event) {
        if (event) {
            event.preventDefault();
        }
        try {
            const new_group_name = new FormData().name;
            const response = await fetch(`/mercure/api/newgroup/${new_group_name}`);
            const data = await response.json();

            if (isApiSuccess(data)) {
                showMessage('info', 'Groupe créé avec succès');
            } else {
                showMessage('error', getApiMessage(data));
            }
        }
        catch (e) {
            showMessage('error', e);
        }
    }

</script>
{% endblock %}