<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Aucun groupe défini</title>
</head>

<body>
    <h1 class="title">Aucun groupe défini</h1>
    <div class="button-container">
        <a href="/mercure/admin/newgroup" class="btn btn-primary">Créer un nouveau groupe</a>
        <a href="/mercure/admin/landing_page" class="btn btn-secondary">Retour à la page d'administration</a>
    </div>
</body>

</html>