<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Modifier le mot de passe</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/default.css">
    <link rel="stylesheet" type="text/css" href="/static/icon-font/material-icons.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
</head>

<body>
    <div class="banner">
        <div class="banner-content">
            <span class="banner-text">Modifier le mot de passe de {{edited_user.username }}</span>
            <div class="logout-button">
                <a href="/mercure/logout" class="btn btn-danger"><span
                        class="material-icons icon-align">logout</span>Déconnexion</a>
            </div>
        </div>
    </div>
    <div class="container">
        <input type="hidden" name="user_id" id="user_id" value="{{ edited_user.id }}">
        {% if not auth_user.is_admin %}
        <div class="form-group">
            <label for="old_password">Mot de passe actuel</label>
            <input type="password" id="old_password" name="old_password" required>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="new_password">Nouveau mot de passe</label>
            <input type="password" id="new_password" name="new_password" required>
        </div>
        <div class="form-group">
            <label for="new_password_confirm">Confirmation du mot de passe</label>
            <input type="password" id="new_password_confirm" name="new_password_confirm" required>
        </div>
        <button class="btn btn-primary" onclick="submitForm()">Modifier le mot de passe</button>

        <div style="text-align: center; margin-top: 20px;">
            {% if auth_user.is_admin %}
            <a class="btn btn-secondary" href="/mercure/admin/editusers/">Retour à la liste des utilisateurs</a>
            {% else %}
            <a class="btn btn-secondary" href="/mercure/home">Retour</a>
            {% endif %}
        </div>

        <div id="error-message" class="error-msg" style="display:none;"></div>
        <div id="info-message" class="info-msg" style="display:none;"></div>
    </div>
    <script>
        function submitForm() {
            {% if not auth_user.is_admin %}
            const old_password = document.getElementById('old_password').value;
            {% else %}
            const old_password = null;
            {% endif %}

            const new_password = document.getElementById('new_password').value;
            const new_password_confirm = document.getElementById('new_password_confirm').value;

            if (new_password != new_password_confirm) {
                const errorDiv = document.getElementById("error-message");
                const infoDiv = document.getElementById("info-message");
                errorDiv.style = "display:block;";
                errorDiv.innerHTML = `<span class="material-icons icon-align" style="color:red;">error</span>Les deux mots de passe ne correspondent pas`;
                infoDiv.style = "display:none;";
                setTimeout(() => {
                    errorDiv.style.display = 'none';
                }, 2000);
                return;
            }

            if (old_password == "") {
                const errorDiv = document.getElementById("error-message");
                const infoDiv = document.getElementById("info-message");
                errorDiv.style = "display:block;";
                errorDiv.innerHTML = `<span class="material-icons icon-align" style="color:red;">error</span>
                Veuillez entrer votre mot de passe actuel`;
                infoDiv.style = "display:none;";
                setTimeout(() => {
                    errorDiv.style.display = 'none';
                }, 2000);
                return;
            }

            if (new_password == "") {
                const errorDiv = document.getElementById("error-message");
                const infoDiv = document.getElementById("info-message");
                errorDiv.style = "display:block;";
                errorDiv.innerHTML = errorDiv.innerHTML = `< span class="material-icons icon-align"
                style = "color:red;" > error</span > Veuillez entrer un nouveau mot de passe`;;
                infoDiv.style = "display:none;";
                setTimeout(() => {
                    errorDiv.style.display = 'none';
                }, 2000);
                return;
            }

            if (new_password_confirm == "") {
                const errorDiv = document.getElementById("error-message");
                const infoDiv = document.getElementById("info-message");
                errorDiv.style = "display:block;";
                errorDiv.innerHTML = `< span class="material-icons icon-align"
                style = "color:red;" > error</span > Veuillez confirmer votre nouveau mot de passe`;
                infoDiv.style = "display:none;";
                setTimeout(() => {
                    errorDiv.style.display = 'none';
                }, 2000);
                return;
            }

            const user_id = document.getElementById('user_id').value;

            fetch('/mercure/api/passedit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    old_password: old_password,
                    new_password: new_password,
                    user_id: parseInt(user_id)
                })
            }).then((response) => { return response.json() }).then((res_json) => {
                if (res_json.success) {
                    alert(res_json.data);
                    {% if auth_user.is_admin %}
                    window.location.href = "/mercure/admin/editusers/"
                    {% else %}
                    window.location.href = "/mercure/home"
                    {% endif %}
                } else {
                    const infoDiv = document.getElementById("info-message");
                    const errorDiv = document.getElementById("error-message");
                    errorDiv.innerHTML = `< span class="material-icons icon-align"
                style = "color:red;" > error</span > ${res_json.message} `;
                    errorDiv.style = "display:block;";
                    infoDiv.style = "display:none;";
                    setTimeout(() => {
                        errorDiv.style.display = 'none';
                    }, 2000);
                }
            }).catch((e) => {
                const infoDiv = document.getElementById("info-message");
                const errorDiv = document.getElementById("error-message");
                errorDiv.innerHTML = `< span class="material-icons icon-align"
                style = "color:red;" > error</span > ${e}`;
                errorDiv.style = "display:block;";
                infoDiv.style = "display:none;";
            })

        }
    </script>
</body>

</html>
</div>
</form>
</div>