{% extends "base.html.j2" %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block banner_text %}Modifier le mot de passe de {{edited_user.username }}{% endblock %}

{% block content %}
    <div class="form-vertical" style="margin: 1em auto;">
        <input type="hidden" name="user_id" id="user_id" value="{{ edited_user.id }}">
        {% if not auth_user.is_admin %}
        <div class="form-group">
            <label for="old_password">Mot de passe actuel</label>
            <input type="password" id="old_password" name="old_password" required>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="new_password">Nouveau mot de passe</label>
            <input type="password" id="new_password" name="new_password" required>
        </div>
        <div class="form-group">
            <label for="new_password_confirm">Confirmation du mot de passe</label>
            <input type="password" id="new_password_confirm" name="new_password_confirm" required>

            <div style="text-align: left; margin-top: 20px;">
                {% if auth_user.is_admin %}
                <a class="btn btn-secondary" href="/mercure/admin/editusers/">Retour à la liste des utilisateurs</a>
                {% else %}
                <a class="btn btn-secondary" href="/mercure/home">Retour</a>
                {% endif %}
                <a class="btn btn-primary" onclick="submitForm()">Modifier le mot de passe</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
        <script>
            function submitForm() {
                {% if not auth_user.is_admin %}
                const old_password = document.getElementById('old_password').value;
                {% else %}
                const old_password = null;
                {% endif %}

                const new_password = document.getElementById('new_password').value;
                const new_password_confirm = document.getElementById('new_password_confirm').value;

                if (new_password != new_password_confirm) {
                    showMessage('error', 'Les deux mots de passe ne correspondent pas');
                    return;
                }

                if (old_password == "") {
                    showMessage('error', 'Veuillez entrer votre mot de passe actuel');
                    return;
                }

                if (new_password == "") {
                    showMessage('error', 'Veuillez entrer un nouveau mot de passe');
                    return;
                }

                if (new_password_confirm == "") {
                    showMessage('error', 'Veuillez confirmer votre nouveau mot de passe');
                    return;
                }

                const user_id = document.getElementById('user_id').value;

                fetch('/mercure/api/passedit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        old_password: old_password,
                        new_password: new_password,
                        user_id: parseInt(user_id)
                    })
                }).then((response) => { return response.json() }).then((res_json) => {
                    if (isApiSuccess(res_json)) {
                        alert(getApiData(res_json));
                        {% if auth_user.is_admin %}
                        window.location.href = "/mercure/admin/editusers/"
                        {% else %}
                        window.location.href = "/mercure/home"
                        {% endif %}
                    } else {
                        showMessage('error', getApiMessage(res_json));
                    }
                }).catch((e) => {
                    showMessage('error', e);
                })
            }
        </script>
{% endblock %}
