<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Forms</title>
    <link rel="stylesheet" href="/static/styles/default.css">
    <link rel="stylesheet" type="text/css" href="/static/icon-font/material-icons.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />

    <script src="/static/scripts/show_message.js"></script>
</head>

<body>
    <div class="banner">
        <div class="banner-content">
            <span class="banner-text">Liste des formulaires par groupe</span>
            <div class="logout-button">
                <a href="/mercure/logout" class="btn btn-danger"><span
                        class="material-icons icon-align">logout</span>Déconnexion</a>
            </div>
        </div>
    </div>

    <div class="tab">
        {% for group in user_groups %}

        <button id="tab-{{ group.id }}" class="tablinks{% if loop.first %} active {% endif %}"
            onclick="openTab(event,{{ group.id }})">{{ group.name
            }}</button>
        {% endfor %}

        {% if is_admin %}
        <button id="tab-no-group" class="tablinks" onclick="openTab(event,`no-group`)">Formulaires sans groupe</button>
        {% endif %}
    </div>

    {% for group in user_groups %}
    <table id="forms-container-{{ group.id }}" class="tabcontent" {% if loop.first %} style="display: block;" {% endif
        %}>
        <tr>
            <th class="content-column">Nom du formulaire</th>
            <th class="content-column padding-x centered">Formulaire actif</th>
            <th class="content-column padding-x centered">Edition du formulaire</th>
        </tr>
    </table>
    {% endfor %}
    {% if is_admin %}
    <table id="forms-container-no-group" class="tabcontent" style="display: none;">
        <tr>
            <th class="content-column">Nom du formulaire</th>
            <th class="numeric-column padding-x centered">Formulaire actif</th>
            <th class="numeric-column padding-x centered">Edition du formulaire</th>
        </tr>
    </table>
    {% endif %}

    <script>
        function openTab(evt, group_id) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(`forms-container-${group_id}`).style.display = "block";
            evt.currentTarget.className += " active";
        } 
    </script>

    <script>
        const userGroups = {{ user_groups | tojson }};
        async function loadGroupForms() {
            for (let [index, group] of userGroups.entries()) {
                try {
                    const response = await fetch(`/mercure/api/forms/groups/${group.id}`);
                    const forms = await response.json();
                    // Always append to tbody if present, otherwise to table
                    let table = document.getElementById(`forms-container-${group.id}`);
                    let container = table.querySelector('tbody');
                    if (!container) {
                        console.log("No tbody found, appending to table directly");
                        container = table;
                    }
                    forms.data.with_group.forEach(form => {
                        const formBox = document.createElement('tr');
                        formBox.innerHTML = `
                            <td class="content-column">${form.form_name} (version ${form.version})</td>
                            <td class="numeric-column">
                                <input type="checkbox" onclick="toggleFormActive(event,'${form.formid}')" ${form.enabled ? 'checked' : ''}>
                                Actif
                            </td>
                            <td class="numeric-column">
                                <a href="/mercure/admin/editform/${form.formid}" class="inline-table centered">Editer le formulaire</a>
                            </td>
                        `;
                        container.appendChild(formBox);
                    });
                    {% if is_admin %}
                    if (index === 0) {
                        let table_no_group = document.getElementById(`forms-container-no-group`);
                        let container_no_group = table_no_group.querySelector('tbody');
                        if (!container_no_group) {
                            console.log("No tbody found, appending to table directly");
                            container_no_group = table_no_group;
                        }
                        forms.data.without_group.forEach(form => {
                            const formBoxNoGroup = document.createElement('tr');
                            formBoxNoGroup.innerHTML = `
                                <td class="content-column">${form.form_name} (version ${form.version})</td>
                                <td class="numeric-column">
                                    <input type="checkbox" onclick="toggleFormActive(event,'${form.formid}')" ${form.enabled ? 'checked' : ''}>
                                    Actif
                                </td>
                                <td class="numeric-column">
                                    <a href="/mercure/admin/editform/${form.formid}" class="inline-table centered">Editer le formulaire</a>
                                </td>
                            `;
                            container_no_group.appendChild(formBoxNoGroup);
                        });
                    }
                    {% endif %}
                } catch (error) {
                    console.error('Error fetching forms:', error);
                }
            }
        }

        {% if is_admin %}
        if (userGroups.length == 0) {
            // Si aucun groupe, afficher l’onglet no-group par défaut
            document.getElementById('tab-no-group').click();
            // Charger tous les formulaires
            await(async () => {
                try {
                    const response = await fetch(`/mercure/api/forms/all`);
                    const forms = await response.json();
                    let table_no_group = document.getElementById(`forms-container-no-group`);
                    let container_no_group = table_no_group.querySelector('tbody');
                    if (!container_no_group) {
                        console.log("No tbody found, appending to table directly");
                        container_no_group = table_no_group;
                    }
                    if (!container_no_group) {
                        console.log("No tbody found, appending to table directly");
                        container_no_group = table_no_group;
                    }
                    forms.data.forEach(form => {
                        const formBoxNoGroup = document.createElement('tr');
                        formBoxNoGroup.innerHTML = `
                                <td class="content-column">${form.form_name} (version ${form.version})</td>
                                <td class="numeric-column">
                                    <input type="checkbox" onclick="toggleFormActive(event,'${form.formid}')" ${form.enabled ? 'checked' : ''}>
                                    Actif
                                </td>
                                <td class="numeric-column">
                                    <a href="/mercure/admin/editform/${form.formid}" class="inline-table centered">Editer le formulaire</a>
                                </td>
                            `;
                        container_no_group.appendChild(formBoxNoGroup);
                    });
                } catch (error) {
                    console.error('Error fetching forms:', error);
                }
            })();
        }
        {% endif %}

        async function toggleFormActive(e, formId) {
            let toggle = e.target.checked ? "enable" : "disable";
            try {
                const response = await fetch(`/mercure/api/${toggle}/${formId}`);
                const data = await response.json();
                if (data.success) {
                    showMessage('info', data.data);
                } else {
                    showMessage('error', data.message);
                }
            } catch (error) {
                showMessage('error', error);
            }
        }

        document.addEventListener('DOMContentLoaded', async () => {
            await loadGroupForms();
        });

    </script>
    <a href="/mercure/admin/dashboard" class="btn btn-secondary">Retour au tableau de bord</a>
    <div class="error-msg" id="error-message" style="display: none;"></div>
    <div class="info-msg" id="info-message" style="display: none;"></div>
</body>

</html>