<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Forms</title>
    <link rel="stylesheet" href="/mercure/static/styles/default.css">
    <link rel="stylesheet" type="text/css" href="/mercure/static/icon-font/material-icons.css">
    <link rel="icon" type="image/x-icon" href="/mercure/static/favicon.ico" />

    <script src="/mercure/static/scripts/show_message.js"></script>
</head>

<body>
    <div class="banner">
        <div class="banner-content">
            <span class="banner-text">Liste des formulaires par groupe</span>
            <div class="logout-button">
                <a href="/mercure/logout" class="btn btn-danger"><span
                        class="material-icons icon-align">logout</span>Déconnexion</a>
            </div>
        </div>
    </div>

    <div id="info-message" class="info-msg" style="display:none;"></div>
    <div id="error-message" class="error-msg" style="display:none;"></div>
    <div id="success-message" class="success-msg" style="display:none;"></div>

    <a href="/mercure/admin/newform" class="btn btn-primary" style="margin-top: 10px;">Créer un nouveau
        formulaire</a>

    <div class="tab">
        {% for group in user_groups %}

        <button id="tab-{{ group.id }}" class="tablinks{% if loop.first %} active {% endif %}"
            onclick="openTab(event,{{ group.id }})">{{ group.name
            }}</button>
        {% endfor %}

        {% if is_admin %}
        <button id="tab-no-group" class="tablinks" onclick="openTab(event,`no-group`)">Formulaires sans groupe</button>
        {% endif %}
    </div>

    <div style="border: 1px solid #ccc; border-top: none; padding: 10px;">
        <div id="search-forms" style="display: flex; gap: 0.5em; align-items: center;">
            <input type="text" name="q" placeholder="Rechercher un formulaire..."
                style="padding: 0.5em; width: 250px; border-radius: 4px; border: 1px solid #bbb;"
                oninput="filterForms()">
        </div>
    </div>

    {% for group in user_groups %}
    <table id="forms-container-{{ group.id }}" class="tabcontent" style="{% if loop.first %}display: block; {% endif
            %}overflow-y:auto;height:400px;">
        <tr>
            <th class="content-column">Nom du formulaire</th>
            <th class="numeric-column padding-x centered">Actif ?</th>
            <th class="numeric-column padding-x centered">Editer les groupes</th>
            <th class="numeric-column padding-x centered">Editer</th>
        </tr>
    </table>
    {% endfor %}
    {% if is_admin %}
    <table id="forms-container-no-group" class="tabcontent" style="display: none; overflow-y:auto;height:400px;">
        <tr>
            <th class="content-column">Nom du formulaire</th>
            <th class="numeric-column padding-x centered">Actif ?</th>
            <th class="numeric-column padding-x centered">Editer les groupes</th>
            <th class="numeric-column padding-x centered">Editer</th>
        </tr>
    </table>
    {% endif %}

    <script>
        function openTab(evt, group_id) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(`forms-container-${group_id}`).style.display = "block";
            evt.currentTarget.className += " active";
        }

        const userGroups = {{ user_groups | tojson }};
        async function loadGroupForms() {
            for (let [index, group] of userGroups.entries()) {
                try {
                    const response = await fetch(`/mercure/api/forms/groups/${group.id}`);
                    const forms = await response.json();
                    // Always append to tbody if present, otherwise to table
                    let table = document.getElementById(`forms-container-${group.id}`);
                    let container = table.querySelector('tbody');
                    if (!container) {
                        console.log("No tbody found, appending to table directly");
                        container = table;
                    }
                    forms.data.with_group.sort((a, b) => b.version - a.version).forEach(form => {
                        const formBox = document.createElement('tr');
                        formBox.innerHTML = `
                            <td class="content-column">${form.form_name} (version ${form.version})</td>
                            <td class="numeric-column">
                                <input type="checkbox" onclick="toggleFormActive(event,'${form.formid}')" ${form.enabled ? 'checked' : ''}>
                                Actif
                            </td>
                            <td class="numeric-column">
                                <a href="/mercure/admin/editform/groups?form_id=${form.formid}" class="inline-table centered">Editer les groupes</a>
                            </td>
                            <td class="numeric-column">
                                <a href="/mercure/admin/editform/${form.formid}" class="inline-table centered">Editer</a>
                            </td>
                        `;
                        container.appendChild(formBox);
                    });
                    {% if is_admin %}
                    if (index === 0) {
                        let table_no_group = document.getElementById(`forms-container-no-group`);
                        let container_no_group = table_no_group.querySelector('tbody');
                        if (!container_no_group) {
                            console.log("No tbody found, appending to table directly");
                            container_no_group = table_no_group;
                        }
                        forms.data.without_group.sort((a, b) => b.version - a.version).forEach(form => {
                            const formBoxNoGroup = document.createElement('tr');
                            formBoxNoGroup.innerHTML = `
                                <td class="content-column">${form.form_name} (version ${form.version})</td>
                                <td class="numeric-column">
                                    <input type="checkbox" onclick="toggleFormActive(event,'${form.formid}')" ${form.enabled ? 'checked' : ''}>
                                    Actif
                                </td>
                                <td class="numeric-column">
                                    <a href="/mercure/admin/editform/groups?form_id=${form.formid}" class="inline-table centered">Editer les groupes</a>
                                </td>
                                <td class="numeric-column">
                                    <a href="/mercure/admin/editform/${form.formid}" class="inline-table centered">Editer</a>
                                </td>
                            `;
                            container_no_group.appendChild(formBoxNoGroup);
                        });
                    }
                    {% endif %}
                } catch (error) {
                    showMessage("error", error);
                }
            }
        }

        {% if is_admin %}
        if (userGroups.length == 0) {
            // Si aucun groupe, afficher l’onglet no-group par défaut
            document.getElementById('tab-no-group').click();
            // Charger tous les formulaires
            await(async () => {
                try {
                    const response = await fetch(`/mercure/api/forms/all`);
                    const forms = await response.json();
                    let table_no_group = document.getElementById(`forms-container-no-group`);
                    let container_no_group = table_no_group.querySelector('tbody');
                    if (!container_no_group) {
                        console.log("No tbody found, appending to table directly");
                        container_no_group = table_no_group;
                    }
                    if (!container_no_group) {
                        console.log("No tbody found, appending to table directly");
                        container_no_group = table_no_group;
                    }
                    forms.data.forEach(form => {
                        const formBoxNoGroup = document.createElement('tr');
                        formBoxNoGroup.innerHTML = `
                                <td class="content-column">${form.form_name} (version ${form.version})</td>
                                <td class="numeric-column">
                                    <input type="checkbox" onclick="toggleFormActive(event,'${form.formid}')" ${form.enabled ? 'checked' : ''}>
                                    Actif
                                </td>
                                <td class="numeric-column">
                                    <a href="/mercure/admin/editform/${form.formid}" class="inline-table centered">Editer le formulaire</a>
                                </td>
                            `;
                        container_no_group.appendChild(formBoxNoGroup);
                    });
                } catch (error) {
                    showMessage("error", error);
                }
            })();
        }
        {% endif %}

        async function toggleFormActive(e, formId) {
            let toggle = e.target.checked ? "enable" : "disable";
            try {
                const response = await fetch(`/mercure/api/${toggle}/${formId}`);
                const data = await response.json();
                if (isApiSuccess(data)) {
                    showMessage('info', getApiData(data));
                } else {
                    showMessage('error', getApiMessage(data));
                }
            } catch (error) {
                showMessage('error', error);
            }
        }

        function filterForms() {
            const queryString = document.querySelector('#search-forms input[name="q"]').value;
            const lowerQuery = queryString.toLowerCase();
            userGroups.forEach(group => {
                const table = document.getElementById(`forms-container-${group.id}`);
                const rows = table.getElementsByTagName('tr');
                for (let i = 1; i < rows.length; i++) { // Skip header row
                    const formNameCell = rows[i].getElementsByTagName('td')[0];
                    if (formNameCell) {
                        const formName = formNameCell.textContent || formNameCell.innerText;
                        if (formName.toLowerCase().indexOf(lowerQuery) > -1) {
                            rows[i].style.display = "";
                        } else {
                            rows[i].style.display = "none";
                        }
                    }
                }
            });
            const table = document.getElementById(`forms-container-no-group`);
            const rows = table.getElementsByTagName('tr');
            for (let i = 1; i < rows.length; i++) { // Skip header row
                const formNameCell = rows[i].getElementsByTagName('td')[0];
                if (formNameCell) {
                    const formName = formNameCell.textContent || formNameCell.innerText;
                    if (formName.toLowerCase().indexOf(lowerQuery) > -1) {
                        rows[i].style.display = "";
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }
        }

        document.addEventListener('DOMContentLoaded', async () => {
            await loadGroupForms();
        });

    </script>
    <a href="/mercure/admin/dashboard" class="btn btn-secondary">Retour au tableau de bord</a>
</body>

</html>