<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des utilisateurs</title>
    <link rel="stylesheet" href="/static/styles/default.css">
    <link rel="stylesheet" type="text/css" href="/static/icon-font/material-icons.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <script src="/static/scripts/show_message.js"></script>
</head>

<body>
    <div class="banner">
        <div class="banner-content">
            <span class="banner-text">Liste des utilisateurs</span>
            <div class="logout-button">
                <a href="/mercure/logout" class="btn btn-danger"><span
                        class="material-icons icon-align">logout</span>Déconnexion</a>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th class="padding-x centered">Nom de l'utilisateur</th>
                <th class="padding-x centered">Groupe</th>
                <th class="padding-x centered">Mot de passe</th>
            </tr>
        </thead>
        <tbody id="user-list">
            <!-- Rows will be dynamically populated -->
        </tbody>
    </table>
    <script>
        async function fetchUsers() {
            try {
                const response = await fetch('/mercure/api/users/list');
                const data = await response.json();

                if (data && data.data) {
                    const userList = document.getElementById('user-list');
                    data.data.forEach(user => {
                        const row = document.createElement('tr');

                        const nameCell = document.createElement('td');
                        nameCell.innerHTML = user.username + (user.is_admin ? ' (Admin <span class="material-icons icon-align" style="font-size: 1rem; color: #ff0000;">shield</span>)' : '');
                        row.appendChild(nameCell);

                        const groupEditCell = document.createElement('td');
                        const groupEditLink = document.createElement('a');
                        groupEditLink.href = `/mercure/admin/groupedit/${user.id}`;
                        groupEditLink.textContent = 'Editer les groupes';
                        groupEditLink.className = "inline-table centered";
                        groupEditCell.appendChild(groupEditLink);
                        row.appendChild(groupEditCell);

                        const passEditCell = document.createElement('td');
                        const passEditLink = document.createElement('a');
                        passEditLink.href = `/mercure/passedit/${user.id}`;
                        passEditLink.textContent = 'Modifier le mot de passe';
                        passEditLink.className = "inline-table centered";
                        passEditCell.appendChild(passEditLink);
                        row.appendChild(passEditCell);

                        userList.appendChild(row);
                    });
                }
            } catch (error) {
                console.error('Error fetching user list:', error);
            }
        }

        // Fetch users on page load
        fetchUsers();
    </script>
    <div style="text-align: center; margin-top: 20px;">
        <a href="/mercure/admin/dashboard" class="btn btn-secondary">Retour au tableau de bord</a>
    </div>
</body>

</html>