{% extends "base.html.j2" %}

{% block title %}{{ title }}{% endblock %}

{% block banner %}{% endblock %}

{% block messages %}{% endblock %}

{% block body_attrs %} class="bg-light flex-center vh-100"{% endblock %}

{% block content %}
    <div class="card">
        <h2 class="title text-danger">{{ h2 }}</h2>
        <p class="paragraph">{{ message }}</p>
        <a href="/mercure/login" class="btn btn-primary">Se connecter</a>
    </div>
{% endblock %}
