body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.6;
    color: #333;
}

h1,
h2,
h3 {
    font-family: 'Arial Black', sans-serif;
    color: #007bff;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.container {
    text-align: center;
    margin-top: 2rem;
}

@keyframes fadeout {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

.error {
    border: 1.5px solid #d32f2f;
    background-color: #fdecea;
    color: #b71c1c;
    padding: 1rem;
    border-radius: 6px;
    margin: 1rem 0;
    font-weight: bold;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: fadeout;
}


/* Banner styles */
.banner {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.banner-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    font-weight: bold;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn:hover {
    background-color: #0056b3;
}

.user-var-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: inline-block;
  text-align: right;
  font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}
